
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color:white;
  }

  html{
    font-size: 100%;
  }

  li{
    list-style: none;
  }

  a{
    text-decoration: none;
  }

  p{
    font-family: 'Roboto', sans-serif;
   
  }

  h1{
    font-family: 'Roboto', sans-serif;
    color: #0057b8;
  }

  


