* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color:#F3F3F3;
  }

  html{
    font-size: 100%;
  }

  li{
    list-style: none;
  }

  a{
    text-decoration: none;
  }


