.navbar-cont {
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left,
.nav-center,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-left {
  justify-content: flex-start;
}

.nav-center {
  justify-content: center;
  font-size: 0.8rem;
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.nav-right {
  justify-content: flex-end;
}

.logo {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #333;
  /* font-weight: 500; */
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007acc;
}

.nav-link.active {
  color: #0057b8;
}

.contact-button {
  background: black;
  color: white;
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 0.3rem;
}

.contact-button:hover {
  background: #333;
}
